h1 {
    text-align: center;
    background-color: gray;
    color: whitesmoke;
    padding:2px;
}

#pastSearchButton {
    margin: 2px;
}

.favorable {
    background: green;
    color: white;
}

.moderate {
    background: yellow;
    color: black;
}

.severe {
    background: red;
    color: white;
}

